@charset "UTF-8";

/* 
Peleta de cores 
Verde: #49a09d
Lilás: #5f2c82
*/

* {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html, main {
    background-color: #5f2c82;
    height: 100vh;
    width: 100vw;
}

main {
    height: 100vh;
    width: 100vw;
    position: relative;
}

#login {
    position: absolute;
    background-color: white;
    width: 250px;
    height: 500px;

    overflow: hidden;
    border-radius: 20px;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.446);

    /* O parâmetro --transition: width .5s, height .5s;-- serve criar um tempo para acontecer a animação entre a mudança da div #login em tamanhos de telas diferentes  */
    transition: width .5s, height .5s;

    /* 
    transition-timing-function: ease;
    Serve para dar uma suavizada na animação e com isso ela não vai acelerar e desecelerar na mesma velocidade.    
    */
    transition-timing-function: ease;

}

section#login div#imagem {
    display: block;
    background-image: url(../imagens/pexels-pixabay-302769.jpg);
    height: 200px;
    background-size: cover;
    margin-bottom: 5px;
}

section#login div#formulario {
    display: block;
    padding: 10px;
}