@charset "UTF-8";

/* 
Peleta de cores 
Verde: #49a09d
Lilás: #5f2c82
*/

* {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html {
    background-color: #5f2c82;
    height: 100vh;
    width: 100vw;
}

main {
    height: 100vh;
    width: 100vw;
    position: relative;
}

#login {
    position: absolute;
    background-color: white;
    width: 250px;
    height: 520px;

    overflow: hidden;
    border-radius: 20px;

    
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.446);

    /* O parâmetro --transition: width .5s, height .5s;-- serve criar um tempo para acontecer a animação entre a mudança da div #login em tamanhos de telas diferentes  */
    transition: width .5s, height .5s;

    /* 
    transition-timing-function: ease;
    Serve para dar uma suavizada na animação e com isso ela não vai acelerar e desecelerar na mesma velocidade.    
    */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition-timing-function: ease;
}

section#login div#imagem {
    display: block;
    background-image: url(../imagens/pexels-pixabay-302769.jpg);
    height: 200px;
    background-size: cover;
    margin-bottom: 5px;
}

section#login div#formulario {
    display: block;
    padding: 10px;
}

section#login div#formulario h1 {
    text-align: center;
    margin-bottom: 10px;
}

section#login div#formulario p {
    font-size: 0.8em;
    margin-bottom: 10px;
}

form > input[type=submit] {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    color: white;
    background-color: #49a09d;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-bottom: 10px;
    margin-top: 10px;
}

form .campo {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #5f2c82;
    border: 2px solid #5f2c82;
    display: flex;
    justify-content: left;
    height: 40px;
    width: 100%;
    border-radius: 8px;
    margin-bottom: 5px;
}

.campo span {
    color: white;
    font-size: 2em;
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 8px 0px 0px 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.campo input {
    border: 1px solid black;
    width: calc(100% - 40px);
    background-color: #53aaa7;
    font-size: 1em;
    height: 100%;
    border-radius: 0px 8px 8px 0px;
}

.campo input:focus-within {
    background-color: white;
}

.login {
    margin-right: 8px;
}

form > input[type=submit]:hover {
    background-color: #2d6462;
}

form > .botao {
    display: block;
    font-size: 1em;
    text-align: center;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    background-color: #6cd3cf;
    color: #2d6462;
    border: 1px solid #2d6462;
    cursor: pointer;
    text-decoration: none;
    border-radius: 5px;
}

form > .botao:hover {
    background-color: white;
}

form > .botao > i {
    font-size: 1em;
    background-color: yellow;
    height: 40px;
}

form > .botao .material-icons {
    height: 40px;
    width: 30px;
}

form .botao  {
    display: flex;
    align-items: center;
    justify-content: space-around;
        
}

form .botao a i span {
    height: 30px;
    position: absolute;
    font-size: .9em;
    color: #2d6462;
}

a {
    text-decoration: none;
    color: #2d6462;
}